.calendar-nav {
    border: 1px solid #999999;
    border-bottom: none;
    background-color: #ccccccff;
}
.change-month {
    cursor: pointer;
}
.date-display {
    font-weight: bold;
    font-size: 20px;
    width: calc(100% - 2px);
}

.day-of-week-header {
    color: #FFF;
    background-color: #ccccccff;
    border: 1px solid #999999;
    font-weight: bold;
    font-size: 20px;
}

.day {
    position: relative;
    font-weight: bold;
    color: #000;
    border: 1px solid #666666;
    background-color: #ccccccff;
    text-shadow: 0px 0px 3px #FFF;
}
.thisMonth {
    background-color: #b7b7b7ff;
}
.theme1-theme-event {
    position: absolute;
    top:0px;
    left: 0px;
    height: 13px;
    width: calc( 100% );
}
.day-of-week {
    box-shadow: inset 3px 0px 3px -3px rgba(50, 50, 50, 0.3);
}

.first-week {
    box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.3);
}

.highlight {
    text-shadow: 0px 0px 3px #000;
    color: #FFF;
}

.day-cell-theme2 {
    font-weight: normal;
    font-size: 11px;
    color: #666666;
    text-shadow: none;
    position: absolute;
    top: 2px;
    left: 2px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.calendar td {
    width: calc(100% / 7);
    height: calc(100% / 8);
    text-align: center;
}
table {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*-------------  Theme  -----------------*/
.theme-cell {
    padding: 10px;
    color: #FFF;
    height: 25px;
    width: auto;
}
/*------------- Legend  -----------------*/
.legend-cell {
    padding: 5px;
    width: 20px;
    height: 20px;
}